* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

/*задаем параметры блока для каждого forester*/
.cars div {
  width: 360px;
  height: 360px;
  background-color: #ffffff;
  margin: 20px;
  /*outline аналог bordera и добавляет линию вовнутрь*/
  outline: 1px solid black;
  background-image: url("pic1.jpg");
  /*добавляем свойство*/
  background-size: 90%;
  background-repeat: no-repeat;
  /*background-position позволяет правильно оцентровать картинку*/
  background-position: center;
  transition: 0.5s;
   box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
}

.cars {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /*position это свойство позволяет двигать элементы*/
  position: relative;
}

/*чтобы картинка двигалась при новедении, то надо добавить hover*/
/*мы ссылаемся на все блоки div которые лежат в классе cars*/


.cars div:hover {
  background-size: 150%;
  background-position: right 120% top 50%;
  /*transition чтобы картинга двигалась плавно*/
  transition: 0.5s;

  /*при наведении мышкой на блок div который лежит в  блоке div который лежат в классе cars*/
}

.cars div .descr {
  position: relative;
  /*свойство строчных (строятся в колонку) и блочных(занимают всю строку) тегов*/
  display: inline-block;
  color: blue;
  text-decoration: none;
  border: 2px solid blue;
  padding: 10px;
  border-radius: 4px;
  /*opacity чтобы кнопка была видна только при наведении мышки*/
  opacity: 0;
  top: 270px;
  left: 20px;
  transition: 0.5s;
}

.cars div h2{
  position: relative;
  top: 20px;
  left: 20px;
  
}

.cars div:hover .descr {
  opacity: 1;
  /*в нормальном состоянии значение 0, а при наведении  мышки значение 1(кнопку становится видно)*/
}
/*-при наведении на ссылку descr при использовании hover в классе cars*/

.cars div .descr:hover {
  background-color: blue;
  color: white; /*ничего не работает, так как нет еще одного отдельного селектора, влияющего на появлении кнопки^^.cars div:hover .descr*/
}
@media (max-width: 600px) {
  form,
  .buttons {
    flex-direction: column;
    gap: 0.5rem;
    align-items: stretch;
    padding: 0 1rem;
  }

  input[type="text"], button, #clear-btn, #clear-done-btn {
    width: 100%;
    font-size: 1rem;
    box-sizing: border-box;
    max-width: 93vw;
  }

  ul#list-book {
    max-width: 98vw;
    padding: 0 1vw;
  }

  li {
    font-size: 1rem;
    padding: 10px 10px;
  }

  h1 {font-size: 1.3rem;}
}
