* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 80%;
  margin: auto;
  margin-top: 0;
  height: 100vh;
  background-color: #fff;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}

/*---------заголовок-----------*/
.headerr {
  width: 80%;
  height: 70px;
  top: 0px;
  background-color: rgb(251, 190, 210);
  position: relative;
  z-index: 20;
  position: fixed;
  border-bottom: 1px solid grey;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}

.element img {
  width: 50px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50% 50% 50% 50%;
}
.element {
  position: absolute;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 40px;
}

.icon {
  top: 0;
  left: 40px;
  height: 12%;
  padding-right: 40px;
}

.title {
  top: 0px;
  width: 500px;
  left: 250px;
  height: 50px;
  
}
.title2 {
  right: 0px;
  width: 350px;
  height: 50px;
  border-left: 2px solid rgb(32, 32, 32);
}
.title2 h1 {
  font-family: "Jost";
  font-style: normal;
  font-size: 20px;
  color: rgb(32, 32, 32);
  text-align: center;
}
h1 {
  font-family: "Jost";
  font-style: normal;
  font-size: 45px;
  color: #3b3b3b;
}
/*---------блок 1-----------*/

.section1 {
  height: 405px;
  position: relative;
  background-color: #ffffff;
  margin-top: 70px;
}

.block {
  position: absolute;
}
.pic {
  width: 50%;
  left: 0px;
  top: 0px;
}
.about {
  width: 50%;
  left: 608.312px;
  top: 0px;
  padding: 20px 40px 0 20px;
}
.pic img {
  width: 100%;
  height: 100%;
}
.buttom{
    position:absolute;
    padding:20px;
    background-color: rgb(251, 190, 210); 
    right:40px;
    bottom: 40px;
    border-radius: 10% 10% 10% 10%;
    border:1px solid #3b3b3b;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
    transition: all 0.8s ease;
    
}
a{
    font-family: "Jost";
    font-size: 20px;  
    color: #000000;
    text-decoration: none;
}
a:link {
    color:  white;
}
a:visited {
    color:rgb(98, 97, 97);
}
a:hover{
    font-size: 1.3em;
    color:#fff;
    
    
}
.buttom:hover{
background-color: rgb(255, 0, 84); 
}

h2{
 font-family: "Jost";
  font-style: normal;
  font-size: 35px;   
}

.section1 p{
    font-family: "Jost";
  font-style: normal;
  font-size: 25px;
}
/*---------блок 2-----------*/
.section2 {
  height: 405px;
  position: relative;
  background-color: #ffffff;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.description {
  padding: 20px 20px 0 40px;
}

.picture img {
  width: 280px;
  border-radius: 20% 20% 20% 20%;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}
.picture {
  position: absolute;
  transition: all 0.9s ease;
}


.picture:hover {
  transform: scale(1.3) rotate(6deg);
}
.n1 {
  top: 75px;
  left: 94.16px;
}

.n2 {
  top: 75px;
  left: 468.32px;
}
.n3 {
  top: 75px;
  left: 842.48px;
}

h3 {
  position: absolute;
  top: 150px;
  color: #fff;
  text-align: left;
  padding: 0 10px 15px 15px;
  font-size: 25px;
}

/*---------Футер-----------*/
.footer {
  position: relative;
  height: 180px;
  background-color: rgb(255, 0, 84);
  border-top: 1px solid grey;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}

.else {
  position: absolute;
  width: 240px;
  height: 50px;
  text-align: center;
}
.block3 h2{
    color: #fff;
}
.else p{
    font-family: "Jost";
  font-style: normal;
  font-size: 17px;
  color: #fff;
}

.mail {
  top: 75px;
  left: 496.64px;
  border-right: 2px solid #fff;
}

.tel {
  top: 75px;
  left: 736.64px;
  border-right: 2px solid #fff;
}
.adress {
  top: 75px;
  left: 976.64px;
}
